[Unit]
Description=The MPPT live data plotter service

[Service]
Environment=PYTHONUNBUFFERED=tomato_casserol
ExecStart=/usr/bin/mppt-plotter --mqtthost %i --dashhost 0.0.0.0
RestartSec=3
Restart=always
PrivateTmp=true
NoNewPrivileges=true
